
@{
    ViewData["Title"] = "List";
}

<div class="page-content">

    <div class="row">
        <div class="col-sm-10 page-content">
            <h3 class="page-title">Detalle</h3>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="control-container form-horizontal">
                <div class="table-scroll" style="height:550px">
                    <table id="tblCandidatos" class="table table-hover table-bordered table-striped results">
                        <thead>
                            <tr>
                                <th class="col-sm-8">Nombre y Apellido</th>
                                <th class="col-sm-4">Fecha de Nacimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(int i = 0; i < 14; i++)
                            {
                            <tr>
                                <td class="col-sm-4"></td>
                                <td class="col-sm-8"></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-block btn-outer" onclick="InitViewAssetsList();">Refresh</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {

            InitViewAssetsList();
        });

        function InitViewAssetsList() {

            var tblAssets = document.getElementById('tblCandidatos')
            var body = tblAssets.tBodies[0];
            body.innerHTML = '';

            $.ajax({
                url: apiService + '/Candidatos',
                type: "GET",
                accepts: "application/json",
                contentType: "application/json",
                success: function (data) {
                    if (data) {

                        for (var i = 0; i < data.length; i++) {
                            var registro = data[i];

                            var row = document.createElement('tr');

                            row.innerHTML =
                                '<td class="col-sm-8">' + registro['nombre'] +' ' + registro['apellido']+ '</td>' +
                                '<td class="col-sm-4">' + registro['fechaNacimiento'] + '</td>';

                            body.appendChild(row);
                        }
                    }

                },
                error: function (XHR, textStatus, errorThrown) {
                    alert(XHR.responseText);
                }
            });

        }

    </script>
}